section.casa{
	background: white;
	height: auto;
}

div.foto{
	width: 45%;
	margin-top: 1em;
	display: inline-block;
}
div.foto .ventana{
	background: yellow;
	width: 100%;
	height: 45vh;
	display: block;
	background: white center center no-repeat;
	background-size: contain;
}
div.foto ul{
	width: 100%;
}

div.foto ul li{
	display: inline-block;
	width: 30%;
	margin-right: 1%;
	margin-left: 1%;
	cursor: pointer;
}

div.foto ul li img{
	width: 100%;
}

div.caracteristicas {
	width: 40%;
    display: inline-block;
    color: #fbfbfb;
    background: #de6565;
    padding: 1em;
    border-radius: 11px;
    margin-bottom: 2em;
}
section.casa .hablanos{
    font-size: 2em;
    margin-top: 2em;
}

div.caracteristicas h2{
	color: white;
}
div.caracteristicas ul li {
	margin: .4em 0;
}
div.caracteristicas ul li p{
	font-size: 1.1em;
}

span.precio{
	background: #ac2a2a;
	padding: .2em .4em;
	font-size: 4em;
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 30%;
	font-family: 'Roboto';
	color: white;
	border-radius: 11px;
}
section.casa .contactanos{
    padding: 0;
    display: inline-block;
    width: 50%;
}
section.casa .contactanos li{
    width: 30%;
    display: inline-block;
    padding: 2em;
}
section.casa .contactanos li a i{
    font-size: 10em;
    color: #bbb;
    transition: .3s all ease-in;
    -webkit-transition: .3s all ease-in;
    -moz-transition: .3s all ease-in;
    -ms-transition: .3s all ease-in;
    -o-transition: .3s all ease-in;
}
section.casa .contactanos li a i:hover{
    color: #ac2a2a;
}
.sugerencias{
	display: inline-block;
	width: 49%;
}
.sugerencias ul li .imagen-promo{
	display: block;
	position: relative;
	overflow: hidden;
}
.sugerencias ul li .imagen-promo img{
	display: block;
	width: 100%;
	-webkit-transition: .5s all cubic-bezier(.29,-0.1,.31,1);
	-moz-transition: .5s all cubic-bezier(.29,-0.1,.31,1);
	-o-transition: .5s all cubic-bezier(.29,-0.1,.31,1);
	-ms-transition: .5s all cubic-bezier(.29,-0.1,.31,1);

}
.sugerencias ul li .imagen-promo .overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: -100%;
	background-color: rgba(255, 71, 71, 0.81);
	-webkit-transition: .5s all cubic-bezier(.29,-0.1,.31,1);
	-moz-transition: .5s all cubic-bezier(.29,-0.1,.31,1);
	-o-transition: .5s all cubic-bezier(.29,-0.1,.31,1);
	-ms-transition: .5s all cubic-bezier(.29,-0.1,.31,1);
}
.sugerencias ul li .descripcion-link{
	display: block;
	margin-top: .5em;
}
.sugerencias ul li .descripcion-link h2{
	color: #ac2a2a;
	text-align: center;
}
.sugerencias ul li p{
	text-align: center;
	margin-top: 1em;
}
.sugerencias ul li .imagen-promo:hover img{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
}
.sugerencias ul li .imagen-promo:hover .overlay{;
	left: 0%;
}
.sugerencias ul li .imagen-promo .overlay h2{
	position: absolute;
	top: 50%;
	left: 50%;
	font-weight: 300;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
}
.sugerencias ul li {
    width: 45%;
    background-color: white;
    display: inline-block;
    height: 60vh;
    padding: 1em;
    margin-right: .3em;
    box-shadow: 4px 2px 6px 1px rgba(125, 125, 125, 0.29);
}
.sugerencias ul li span {
    position: absolute;
    padding: .3em .6em;
    top: 10%;
    right: 0%;
}
.sugerencias ul li span.promocion,
.sugerencias ul li a.promocion{
    background: #fbf154;
    color: black;
}
.sugerencias ul li .precio {
    text-align: center;
    margin-top: 1em;
    display: block;
    color: white;
    background-color: #ac2a2a;
    font-size: 1.5em;
    padding: .2em .5em;
}
footer {
    border: none;
    box-shadow: none;
}
@media screen and (min-width: 500px){
	.sugerencias ul {
	    margin: 2em;
	}
}
.sugerencias ul .promo{
   margin-bottom: 2em;
   height: auto;
}

@media  screen and (max-width: 400px) {
	header div.sidenav a{
	    font-size: .4em;
	}
}

@media only screen and (max-width: 500px) {
	.sugerencias{
		display: block;
		width: 95%;
		margin: 0 auto 1em auto;
	}
	i.hamburguer{
		display: block;
		position: absolute;
		top: 3%;
		left: 5%;
		z-index: 9;
		color: white;
		font-size: 1.5em;
	}
	header .sidenav .close-sidenav{
		display: block;
		position: absolute;
		top: 3%;
		left: 5%;
		z-index: 9;
		color: #ac2a2a;
		font-size: 1.5em;
	}
	section{
		height: auto;
	}
	section.casa{
		padding-bottom: 1em;
	}
	section h1{
		text-align: center;
	}
    header nav ul{
		display: none;
	}
	header .logo {
		display: block;
		margin: 0;
	}
	header .logo img{
		display: block;
		margin: 0 auto;
	}
	header .titulo-header{
		width: 80vw;
	}
	header .titulo-header h1{
		font-size: 2.2em;
	}
	div.foto{
		width: 100%;
		margin-top: 1em;
		display: inline-block;
	}
	div.caracteristicas {
		width: 95%;
	    display: block;
	    margin: 0 auto;
	}
	span.precio{
		width: 95%;
		font-size: 3em;
		margin-top: .5em;
	}
	section.casa .contactanos{
	    padding: .5em;
	    display: block;
	    width: 100%;
	}
	section.casa .contactanos li{
	    width: 45%;
	}
	section.casa .contactanos li a i{
		font-size: 6em;
	}
	.sugerencias ul li {
	    width: 90%;
	    display: block;
	    margin: 0 auto;
	    margin-bottom: .6em;
	    height: auto;
	}
	footer {
	    height: auto;
	    box-shadow: none;
	}
	footer .footer-content {
	    width: 95%;
	    display: block;
	}
	footer .footer-content h1,
	footer .footer-content p{
	    text-align: center;
	}
	footer .footer-content .mapa{
		width: 100% !important;
	}
}